:root{
    --purple: #4B3EC1;
    --purple-darker: #231D58;
    --orange: #8E3E32;
    --light1: #FDFFFE;
    --light2: #666479;
    --dark: #06060E;
}

html, body{
    background-color:var(--dark);
    margin: 0px;
    padding: 0px;
}

.s1{
    z-index: 1;
    border: 1px solid white;
}

.s1.container1{
    height: 248px;
}

.s1.container2{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 498px;
    align-items: center;
    font-family: Oxygen;
}

.s1.container3{
    height: 334px;
}

.s1-title-text{
    color: var(--light1);
    font-size: 90px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.s1-subtitle-text{
    color: var(--light2);
    font-size: 32px;
    letter-spacing: 0.1em;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

/*.s1-about-button{
    width: 346px;
    height: 70px;
    color: var(--light1);
    background-color: var(--purple);
    font-size: 25px;
    letter-spacing: 0.2em;
    border-radius: 35px;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.s1-about-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.s1-about-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.s1-about-button:hover span {
    padding-right: 25px;
}

.s1-about-button:hover span:after {
    opacity: 1;
    right: 0;
}

.s1-about-button:active {
    transform: scale(0.99);
    transition: 250ms;
}

.s1-about-button:focus {outline: 0;}*/

.s2{
    border: 1px solid white;
}

.s2.container1{
    height: 178px;
}

.s2.container2{
    display: flex;
    flex-flow: row nowrap;
    height: 211px;
    justify-content: space-evenly;
    align-items: center;
}

.s2.container3{
    display: flex;
    flex-flow: column nowrap;
    height: 551px;
    justify-content: space-evenly;
    align-items: center;
}

.s2.container4{
    height: 141px;
}

.s2-topic-form{
    width: 488px;
    height: 102px;
    background-color: transparent;
    border: 2px solid var(--light1);
    border-radius: 39px;
}

.s2-generate-button{
    width: 449px;
    height: 92px;
    background-color: var(--orange);
    color: var(--light1);
    font-size: 25px;
    letter-spacing: 0.2em;
    border-radius: 46px;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.s2-generate-button:hover{
    cursor: pointer;
}

.s2-generate-button:focus {outline: 0;}

.s2-poet-dropdown{
    width: 488px;
    height: 102px;
    color: var(--light1);
    background-color: transparent;
    font-size: 25px;
    letter-spacing: 0.2em;
    border-radius: 39px;
    border: 2px solid var(--light1);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.s2-output-box{
    color: var(--light1);
    background-color: transparent;
    border: 2px solid var(--light1);
    border-radius: 25px;
}

.s3{
    border: 1px solid white;
}

.s3.container1{
    height: 95px;
}

.s3.container2{
    display: flex;
    flex-flow: row nowrap;
    height: 195px;
    justify-content: space-evenly;
    align-items: center;
}

.s3.container3{
    display: flex;
    flex-flow: row nowrap;
    height: 558px;
    justify-content: space-evenly;
    align-items: center;
}

.s3.container4{
    height: 233px;
}

.s3-test-button{
    width: 449px;
    height: 92px;
    background-color: var(--purple);
    color: var(--light1);
    font-size: 25px;
    letter-spacing: 0.2em;
    border-radius: 46px;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-shadow: 0px 4px 0px var(--purple-darker);
}

.s3-test-button:hover{
    cursor: pointer;
}

.s3-test-button:focus{
    outline: 0;
}

.s3-test-button:active{
    transform: translateY(4px);
    box-shadow: none;
}

.s3-input-form{
    width: 1096px;
    height: 428px;
    background-color: transparent;
    color: var(--light1);
    border: 2px solid var(--light1);
    border-radius: 46px;
}

.s4{
    border: 1px solid white;
}

.s4.container1{
    height: 115px;
}

.s4.container2{
    display: flex;
    flex-flow: column nowrap;
    height: 834px;
    justify-content: space-evenly;
    align-items: center;
}

.s4.container3{
    height: 130px;
}

.s4-about-text-container{
    display: flex;
    flex-flow: column nowrap;
    width: 1250px;
    height: 755px;
    color: var(--light1);
    justify-content: space-evenly;
    align-items: center;
    font-size: 36px;
    font-family: Oxygen;
}